/* roboto-regular - latin */
@font-face {
    font-family: 'PingFang'; /* 定义字体名称 */
    src: url('/static/fonts/PingFang-SC-Regular.ttf') format('ttf'); /* 字体文件的路径和格式 */
    font-weight: normal; /* 字体的字重 */
    font-style: normal; /* 字体的风格 */
  }
  
/* 应用苹方字体到文本 */
body {
  font-family: 'PingFang' !important
}
  

