/* 设置全局 HTML 和 Body 样式 */
html {
  font-size: $font-size-base; /* 设置字体大小 */
  scroll-behavior: smooth; /* 平滑滚动 */
  touch-action: manipulation; /* 触摸行为 */
}

body {
  min-width: $body-min-width; /* 最小宽度 */
  color: var(--body-font-color); /* 文本颜色 */
  background: var(--body-background); /* 背景颜色 */

  letter-spacing: 0.33px; /* 字母间距 */
  font-weight: $body-font-weight; /* 字体粗细 */
  text-rendering: optimizeLegibility; /* 文本渲染优化 */
  -webkit-font-smoothing: antialiased; /* Webkit字体平滑 */
  -moz-osx-font-smoothing: grayscale; /* 操作系统 X 字体平滑 */

  box-sizing: border-box;
  * {
    box-sizing: inherit; /* 继承盒模型 */
  }
  &::-webkit-scrollbar {
    width: 5px; /* 调整滚动条宽度 */
    color: #f1f1f1; /* 背景颜色 */
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-light); /* 滚动条颜色 */
  }
}

/* 设置标题样式 */
h1,
h2,
h3,
h4,
h5 {
  font-weight: $body-font-weight; /* 字体粗细 */
}

/* 设置链接样式 */
a {
  text-decoration: none; /* 去掉下划线 */
  color: var(--color-light);
}

/* 设置图片样式 */
img {
  vertical-align: baseline; /* 垂直对齐方式 */
}

/* 设置焦点样式 */
:focus {
  @include outline; /* 添加轮廓样式 */
}

/* 设置侧边栏菜单样式 */
aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 1em 0;
    position: relative;
  }

  a {
    display: block;
  }

  a:hover {
    color: var(--color-light);
    font-weight: bold;
  }

  ul {
    padding-inline-start: $padding-16; /* 缩进 */
  }
}

/* 设置分页样式 */
ul.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0px;

  .page-item a {
    padding: $padding-16;
  }
}

/* 设置容器样式 */
.container {
  // max-width: $container-max-width; /* 最大宽度 */
  margin: $magin ; /* 水平居中 */
}

/* 设置图标样式 */
.book-icon {
  filter: var(--icon-filter);
}

/* 设置品牌标识样式 */
.book-brand {
  margin-top: 0;
  margin-bottom: $padding-16;

  img {
    height: 1.5em;
    width: 1.5em;
    margin-inline-end: $padding-8;
  }
}

/* 设置侧边栏菜单样式 */
.book-menu {
  flex: 0 0 $menu-width; /* 不扩展，固定宽度 */
  font-size: $font-size-14;
  margin-right: $magin;

  .book-menu-content {
    margin: $magin 0;

    width: $menu-width;
    padding: 20px;
    &::-webkit-scrollbar {
      width: 0px; /* 调整滚动条宽度 */
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-light); /* 滚动条颜色 */
    }

    @include fixed; /* 固定定位 */
  }

  a,
  label {
    color: inherit;
    cursor: pointer;
    word-wrap: break-word;
  }

  a.active {
    color: var(--color-light); /* 活动链接文本颜色 */
    font-weight: bold;
  }

  input.toggle + label + ul {
    display: none;
  }

  input.toggle:checked + label + ul {
    display: block;
  }

  input.toggle + label::after {
    content: "▸";
  }

  input.toggle:checked + label::after {
    content: "▾";
  }
}

/* 右至左语言支持样式 */
body[dir="rtl"] .book-menu {
  input.toggle + label::after {
    content: "◂";
  }

  input.toggle:checked + label::after {
    content: "▾";
  }
}

/* 设置页面部分样式 */
.book-section-flat {
  margin: $padding-16 * 2 0;

  > a,
  > span,
  > label {
    font-weight: bold;
  }

  > ul {
    padding-inline-start: 0;
  }
}

/* 设置页面样式 */
.book-page {
  min-width: $body-min-width;
  max-width: 70em;
  flex-grow: 1;
  .ios_card {
    margin-bottom: 20px;
  }
}

/* 设置文章样式 */
.book-post {
  margin-bottom: $padding-8;
}

/* 设置页头样式 */
.book-header {
  margin-bottom: $padding-16;

  label {
    line-height: 0;
    display: none;
  }

  img.book-icon {
    height: 1.5em;
    width: 1.5em;
  }
  small {
    opacity: 0.3;
  }
}

/* 设置搜索样式 */
.book-search {
  position: relative;
  margin: $padding-16 0;
  border-bottom: 1px solid transparent;

  input {
    width: 100%;
    padding: $padding-8;

    border: 0;
    border-radius: $border-radius;

    background: var(--gray-100);
    color: var(--body-font-color);

    &:required + .book-search-spinner {
      display: block;
    }
  }

  .book-search-spinner {
    position: absolute;
    top: 0;
    margin: $padding-8;
    margin-inline-start: calc(100% - #{$padding-16 + $padding-8});

    width: $padding-16;
    height: $padding-16;

    border: $padding-1 solid transparent;
    border-top-color: var(--body-font-color);
    border-radius: 50%;

    @include spin(1s);
  }

  small {
    opacity: 0.5;
  }
}

/* 设置目录样式 */
.book-toc {
  display: none;
  flex: 0 0 $toc-width; /* 不扩展，固定宽度 */
  font-size: $font-size-12;

  .book-toc-content {
    width: $toc-width;
    padding: $padding-16;

    @include fixed; /* 固定定位 */
  }

  img {
    height: 1em;
    width: 1em;
  }

  nav > ul > li:first-child {
    margin-top: 0;
  }
}

/* 设置页脚样式 */
.book-footer {
  padding-top: $padding-16;
  font-size: $font-size-14;

  img {
    height: 1em;
    width: 1em;
    margin-inline-end: $padding-8;
  }
}

/* 设置评论样式 */
.book-comments {
  margin-top: $padding-16;
}

/* 设置语言选择样式 */
.book-languages {
  margin-block-end: $padding-16 * 2;

  .book-icon {
    height: 1em;
    width: 1em;
    margin-inline-end: 0.5em;
  }

  ul {
    padding-inline-start: 1.5em;
  }
}

/* 设置响应式样式 */
.book-menu-content,
.book-toc-content,
.book-page,
.book-header aside,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity, visibility;
  will-change: transform, margin, opacity;
}

/* 设置小屏幕下的响应式样式 */
@media screen and (max-width: $mobile-breakpoint) {
  #menu-control,
  #toc-control {
    display: inline;
  }

  .book-menu {
    visibility: hidden;
    margin: 0;
    margin-inline-start: -$menu-width;
    font-size: $font-size-base;
    z-index: 1;
    nav#TableOfContents {
      display: none;
    }
  }

  .book-toc {
    display: none;
  }

  .book-header {
    background-color: inherit !important;
    padding: 0 !important;
    box-shadow: none !important;
    label {
      display: block;
    }
  }

  /* 设置菜单开关被选中时的样式 */
  #menu-control:checked ~ main {
    .book-menu {
      visibility: initial;
      margin-inline-start: -$menu-width;
    }

    .book-menu .book-menu-content {
      transform: translateX($menu-width);
      box-shadow: 0 0 $padding-8 rgba(0, 0, 0, 0.1);
    }

    .book-page {
      opacity: 0.25;
    }

    .book-menu-overlay {
      display: block;
      height: 100vh;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  /* 设置目录开关获得焦点时的轮廓样式 */
  #toc-control:focus ~ main label[for="toc-control"] {
    @include outline;
  }

  /* 设置目录开关被选中时的样式 */
  #toc-control:checked ~ main {
    .book-header {
      aside,
      label {
        display: block;
      }
    }
  }

  /* 右至左语言支持下的样式 */
  body[dir="rtl"] #menu-control:checked ~ main {
    .book-menu .book-menu-content {
      transform: translateX(-$menu-width);
    }
  }
}

/* 大屏幕下的样式 */
@media screen and (min-width: $container-max-width) {
  .book-menu .book-menu-content,
  .book-toc .book-toc-content {
    padding: $padding-16 * 2 $padding-16;
  }
  nav#TableOfContents ul {
    padding-inline-start: None;
  }
}
