

#calendar {
    .fc-col-header-cell-cushion{
        color: var(--body-font-color);
        opacity: 0.3;
        font-size: 12px;
    }
    padding: 10px;
    .fc-daygrid-day-number{
      color: var(--body-font-color);
      font-size: large;
      margin-right: auto;
      small{
        opacity: 0.3;
        font-size: 12px;
      }
      small.festivals{
        color: var(--color-light);
        opacity: 1;
      }
    }
    .fc-day-today  {
      color: aliceblue;
      
    }
    .fc-h-event {
      border: none;
      .fc-event-title {
        font-size: 10pt;
        white-space: normal; /* 允许文本自动换行 */
      }
      .fc-button{
        background: var(--body-background);
      }
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      border: none;
    }
    td,
    th {
      border: none;
      text-align: left;
    }
    button{
      border: none;
      background: none;
      color: var(--body-font-color);
      opacity: 0.3;
    }
  
  
  
  }
  