
.mermaid{
    .cluster rect{
        fill: none !important;;
        stroke-width:0!important;
    }
    background-color: var(--code-bg);
    border-radius: $border-radius;
    margin-bottom: $magin;
}