.heatmap {
  span {
    font-size: 12px;
    width: 25px !important;
    height: 15px !important;
  }
  td {
    width: 25px !important;
    height: 15px !important;
  }
  margin: 0;
  tbody {
    position: relative;
    td span{
      float: left;
    }
    .today {
      border: 1px solid red;
    }
  }
  td {
    font-size: 10px;
  }
}
.heatmap-container{
    display: flex;
}
.contributions-bg-0 {
  background-color: var(--bg-contributions-0);
}
.contributions-bg-1 {
  background-color: #0e4429;
}
.contributions-bg-2 {
  background-color: #006d32;
}
.contributions-bg-3 {
  background-color: #26a641;
}
.contributions-bg-4 {
  background-color: #39d353;
}
