#github {
  tbody td {
    width: 10px;
    height: 10px;
  }
  span {
    font-size: 12px;
  }
  thead{
    position: relative;
    span{
        position: absolute;
        bottom:  10px;
    }
  }
 
}
.contributions-bg-0 {
  background-color: #161b22;
}
.contributions-bg-1 {
  background-color: #0e4429;
}
.contributions-bg-2 {
  background-color: #006d32;
}
.contributions-bg-3 {
  background-color: #26a641;
}
.contributions-bg-4 {
  background-color: #39d353;
}
