#github {
    tr td{
        width: 10px!important;
        height: 10px;
        background-color: #161b22;
        border-radius: 2px;
    }
    thead td span{
        width: 10px;
        height: 10px;
        float: left;
        margin-bottom: 10px;
    }
}