$primary: #3F51B5;
$dark-primary: #303F9F;
$light-primary: #C5CAE9;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #FF4081;


.hero-table { 
  margin-left: 10%;
  margin-right: 10%;
}
  

 




.timeline {
	.timeline-container{
		border-left: 2px solid #e4f3fd;
		
	}
}

.timeline-item {
	
	width: 100%;
	padding: 0 20px;
	
	.timeline-title::before {
		position: absolute;
		content: '';
		left: 15px;
		width: 6px;
		height: 6px;
		border: 3px solid var(--color-light);
		border-radius: 50%;
		background-color: white;
	}
	.timeline-content {
		
		margin: 5px;
		padding:10px;
		h4{
			margin: 0;
		}
		.MDtitle{
			color: var(--color-light);
		}
	}
}







.timeline-card {
	padding: 0!important;

	p {
		padding: 0 20px;
	}

	a {
		margin-left: 20px;
	}
}

.timeline-item {
  .timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
			background-size: cover;
		}
}



blockquote {
	margin-top: 30px;
	color: $secondary-text;
	border-left-color: $primary;
	padding: 0 20px;
}

.Tag {
	background: $accent;
	display: inline-block;
	padding: 5px;
	// position: absolute;
	// top: 0;
	// right: 0;
}
