{{ define "main" }}
<main aria-role="main">
    <div id='calendar' class="ios_card"></div>


    
  <!-- 引入 fullCalendar.js -->
  <script src="js/fullCalendar.js" ></script>
  <script>
    var content = "{{ $page := .Site.GetPage `/posts/日志.md` }}{{ $page.RawContent }}";
    calendarRender(content); 
  </script>
 


  <h4>
     <span class="nowDate" data-unix="{{ now.Unix }}">  </span>
  </h4>

  <h4>
    📄{{ .Site.RegularPages | len }} 
    {{ $totalWordCount := 0 }}

    {{ range .Site.RegularPages }}
      {{ with .Content }}
        {{ $wordCount := printf "%s" . | len }}
        {{ $totalWordCount = add $totalWordCount $wordCount }}
      {{ end }}
    {{ end }}
    🔤{{ $totalWordCount}}
  </h4>
  <h4>

    {{ if .Site.LastChange.After .GitInfo.AuthorDate }}
    <!-- 如果站点的最后更改时间晚于作者的最后提交日期，显示提醒消息 -->
    上次提交在
    <span class="AuthorDate" data-unix="{{ .GitInfo.AuthorDate.Unix }}"> </span>
    , 请勿忘记提交
    {{ end }}



  </h4>
 
  {{$data := partial "docs/inject/timelineData.html" . }}
 
  {{ partial "docs/timeline" (dict "messageData" $data) }}
 
<script>
  var touchElement = document.getElementById('calendar');
  var touchStartX, touchStartY;

  touchElement.addEventListener('touchstart', function (e) {
    // 记录触摸起始位置
    touchStartX = e.touches[0].clientX;
    touchStartY = e.touches[0].clientY;
  });

  touchElement.addEventListener('touchmove', function (e) {
    // 阻止默认滚动
    e.preventDefault();

    // 获取当前触摸位置
    var touchCurrentX = e.touches[0].clientX;
    var touchCurrentY = e.touches[0].clientY;

    // 计算触摸偏移
    var deltaX = touchCurrentX - touchStartX;
    var deltaY = touchCurrentY - touchStartY;

    // 判断滑动方向，这里以水平方向为例
    if (Math.abs(deltaX) > Math.abs(deltaY)) {
      // 根据需要执行滑动触发的动作
      if (deltaX > 50) {
        // 向右滑动超过50px时触发动作
        touchElement.style.backgroundColor = 'lightgreen';
      } else if (deltaX < -50) {
        // 向左滑动超过50px时触发动作
        touchElement.style.backgroundColor = 'lightcoral';
      }
    }

    // 更新触摸起始位置
    touchStartX = touchCurrentX;
    touchStartY = touchCurrentY;
  });

  touchElement.addEventListener('touchend', function () {
    // 清除背景色
    touchElement.style.backgroundColor = 'lightblue';
  });
</script>
  <script>
    // 在页面加载时执行的 JavaScript 代码
    window.onload = function () {
      // 更新具有 "LastChange" 类名的元素的时间戳
      updateDateTimeByElementClass("LastChange");
      // 更新具有 "AuthorDate" 类名的元素的时间戳
      updateDateTimeByElementClass("AuthorDate");
      // 更新具有 "nowDate" 类名的元素的时间戳
      updateDateTimeByElementClass("nowDate");
      // 更新具有 "date" 类名的元素的时间戳
      updateDateTimeByElementClass("date");
    }; 
  </script>
</main>
{{ end }}
