{{ define "dummy" }}{{ end }}
{{ if .Params.mermaid }}
  <script
    src="https://cdn.jsdelivr.net/npm/mermaid@10.6.0/dist/mermaid.min.js"
    integrity="sha256-KqisLh8jVMBRjpNkOhH5W9VWs+F6x6vQksLqxs7+x9A="
    crossorigin="anonymous"
  ></script>
  <script>
    // Replace mermaid pre.code to div
    Array.from(document.getElementsByClassName("language-mermaid")).forEach(
      (el) => {
        el.parentElement.outerHTML = `<div class="mermaid">${el.innerText}</div>`;
      }
    );
  </script>
  <style>
    /* Set svg to center */
    .mermaid svg {
      display: block;
      margin: auto;
    }
  </style>
  {{ end }}