{{$SLICE_TYPE := "[]interface {}"}}
{{$MAP_TYPE := "map[string]interface {}"}}
	
{{$fName := .Get `fName`}}
{{$fNameData := split $fName "." }}
{{$jsonk := .Get `index_key` }}
{{$hide_keys := .Get `hide_keys` }}
{{$hide_keys = split $hide_keys "/" }}
{{$f := ""}}
{{if in $fNameData "json"}}
  {{ $f = index $.Site.Data (index $fNameData 0)}}
{{else if in $fName "http"}}
  {{ $f = getJSON $fName}}
{{else if in $fNameData "csv"}}
    {{ $f = getCSV "," "content/data/" $fName}}
{{end}}
{{ if $jsonk }}
      {{range split $jsonk "/"}}
    {{$f = index $f .}}
    {{ end }}
{{ end }}

<table>



{{$f_type := printf "%T" $f }}


{{$row := 0}}

{{range $k,$v :=$f}}
  {{if eq $row 0}}
    <tr>
    <td>row</td>
    {{ range $k2,$v2 := $v }}
          {{if not (in $hide_keys $k2)}}
            {{$v2_type := printf "%T" $v2}}
            {{if eq $v2_type $MAP_TYPE}}
              {{range $k3,$v3 := $v2}}
                {{if not (in $hide_keys $k3)}}
                  <td>{{$k3}}</td>
                {{end}}
              {{end}}
            {{else}}
              <td>
                  {{$k2}}
              </td>
            {{end}}
          {{end}}
        {{ end }}
    </tr>
  {{end}}

  <tr>
    <td>{{$row}}</td>
      {{range $k2,$v2 := $v}}
            {{if not (in $hide_keys $k2)}}
              {{$v2_type := printf "%T" $v2}}
              {{if eq $v2_type $MAP_TYPE}}
                {{range $k3,$v3 := $v2}}
                  {{if not (in $hide_keys $k3)}}
                  <td>
                      <small>
                        {{$v3}}
                      </small>
                    </td>
                  {{end}}
                {{end}}
              {{else}}
                <td>
                  <small>
                    {{$v2}}
                  </small>
                </td>
              {{end}}
            {{end}}

            
      {{end}}
  </tr>
  {{$row = add $row 1}}

{{end}}
</table>
