{{ define "main" }}
<article class="markdown">
  <div class="chat-container">
    <div class="chat-header">
      <div class="back">
        <span><</span> 

      </div>
      <div class="title">
        <h4>
          <span>{{.Title}}</span>
        </h4>  
      </div>
      <div class="title">
        <h4>
          <span>更多</span>
        </h4>  
      </div>
    </div>
    <div class="chat-messages-container">
      {{$this := .}}
      <!-- 聊天消息将在这里显示 -->
      {{range $k,$v:=split .Content "<br>"}}
      {{ $splitResult := split (replaceRE `<.*?>` "" $v) ":" }}
      {{ $name := index $splitResult 0 }}
      {{ $text := index $splitResult 1 }}
      <div class="message">
        <div class="header">
          {{range $k2,$v2:=($this.Params)}}
              {{if in $name $k2}}
                <img src="{{$v2}}" alt="">
              {{end}}
          {{end}}
          
        </div>
        <div class="text">
          {{$text}}
  
        </div>
      </div>
           
          
    {{ end }}
    </div>
  
  </div>

 
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
